body {
    background: #2c2e2d;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chartContainer {
    display: flex;
}

.chartSize>div:nth-last-child(1) {
    margin-left: 50px;
}

.chartSize>div {
    width: 190px;
}

.btn {
    margin: 20px 0px;
}

label {
    margin: 20px 0px;
}

.chartSize {
    display: flex;
}

.chartSettings {
    margin-left: 60px;
}

.chartSettings>label {
    font-size: 25pt;
}

.visualGraph {
    position: absolute;
}

.upArrow {
    height: 0;
    background: white;
    width: 2px;
    margin-left: -20px;
}

@media screen and (max-width: 1000px) {
    .container {
        display: block;
    }

    .chartContainer {
        display: flex;
        margin: 30px;
    }

    .chartSettings {
        margin-left: 30px;
    }
}